<div class="footer">
    <ul class="socialLinks">
        <li>
            <a href="https://twitter.com/SlevinBE" alt="twitter link"><img src="{{ root_url }}/images/twitter-icon.png" /></a>
        </li>
        <li>
            <a href="http://www.linkedin.com/in/yennicktrevels" alt="linkedin link"><img src="{{ root_url }}/images/linkedin-icon.png" /></a>
        </li>
        <li>
            <a href="https://github.com/SlevinBE" alt="github link"><img src="{{ root_url }}/images/github-icon.png" /></a>
        </li>
    </ul>

    <p class="copyright">
        © Copyright 2013 Yennick Trevels. All rights reserved.
        Powered by <a href="http://octopress.org">Octopress</a>
    </p>
</div>
