---
layout: home
---

<!-- header -->
<div class="container site-wrapper smallHeader">
    <div class="site-inner-wrapper">
        <p class="headerText">
            BLOG
        </p>
    </div>
</div>

<div class="newsletter-signup-section">
    <div class="site-inner-wrapper">
        <!-- Mailchimp newsletter signup form -->
        <div id="mc_embed_signup">
            <form action="http://twitter.us7.list-manage.com/subscribe/post?u=02f28b618c351eec5f12806b3&amp;id=a42d48b8cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">Follow my content</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
        </div>
    </div>
</div>

<div class="container site-wrapper">
    <div class="site-inner-wrapper blog-index-wrapper">
        <div class="blog-index">
          {% assign index = true %}
          {% for post in paginator.posts %}
          {% assign content = post.content %}
            <article>
              {% include article.html %}
            </article>
          {% endfor %}
          <div class="pagination">
            {% if paginator.next_page %}
              <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
            {% endif %}
            <a href="/blog/archives">Blog Archives</a>
            {% if paginator.previous_page %}
            <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
            {% endif %}
          </div>
        </div>
        <aside class="sidebar">
          {% if site.blog_index_asides.size %}
            {% include_array blog_index_asides %}
          {% else %}
            {% include_array default_asides %}
          {% endif %}
        </aside>
    </div>
</div>
