<!-- page scripts -->
<script>
    $(document).ready(function(){
        $('.technology-buttons button').popover({placement: 'bottom', html: 'true'})
    })
</script>

<!-- header -->
<div class="container site-wrapper header">
    <div class="site-inner-wrapper">
        <img src="images/myself.png" class="myself-image" />

        <p class="introText">
            Hi, I’m Yennick <br />
            I’m a Technical Business Consultant <br />
            Implementing software solutions <br />
        </p>
    </div>
</div>

<!-- experience overview -->
<div class="container site-wrapper">
    <div class="main-content">
        <div class="experience-section">
            <div class="site-inner-wrapper">
                <div class="experience-header">
                    <span class="experience-title">Business Solutions</span>
                    <span class="experience-subtitle">@ iDA MediaFoundry</span>
                </div>
                <div class="experience-content">
                    <p class="overview-text">
                        During the day I work as a Technical Consultant for
                        iDA MediaFoundry, a company specialized in Rich
                        Enterprise Applications. <br />
                        I help clients get the most out of their investment by providing technical advice
                        and implementing software based on best practices.
                    </p>

                    <div class="technology-buttons">
                        <ul>
                            <li>
                                <button type="button" data-content="JavaFX provides a powerful Java-based UI platform capable of handling large-scale data-driven business applications. &lt;br /&gt;JavaFX applications are completely developed in Java, one of the most widely deployed technologies with one of the largest developer communities in the world, while leveraging the power of standards-based programming practices and design patterns. ">
                                    JavaFx
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="Flex is a powerful, open source application framework that allows you to easily build mobile applications for iOS, Android™, and BlackBerry® Tablet OS devices, as well as traditional applications for browser and desktop using the same programming model, tool, and codebase.&lt;br /&gt;The Flex SDK can be used to create a wide range of highly interactive, expressive applications.">
                                    Flex
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="The Spring Framework provides a comprehensive programming and configuration model for modern Java-based enterprise applications - on any kind of deployment platform. &lt;br /&gt;A key element of Spring is infrastructural support at the application level: Spring focuses on the 'plumbing' of enterprise applications so that developers can focus on application-level business logic, without unnecessary ties to specific deployment environments.">
                                    Spring
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="Hibernate is a high-performance Object/Relational persistence and query service. &lt;br /&gt;The most flexible and powerful Object/Relational solution on the market, Hibernate takes care of the mapping from Java classes to database tables and from Java data types to SQL data types. &lt;br /&gt;It provides data query and retrieval facilities that significantly reduce development time. &lt;br /&gt;Hibernate’s design goal is to relieve the developer from 95% of common data persistence-related programming tasks by eliminating the need for manual, hand-crafted data processing using SQL and JDBC.">
                                    Hibernate
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="The most used query language designed to manage data in a relational database.">
                                    SQL
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="experience-section-uneven">
            <div class="site-inner-wrapper">
                <div class="experience-header">
                    <span class="experience-title">Open Source</span>
                    <span class="experience-subtitle">GradleFx</span>
                </div>
                <div class="experience-content">
                    <p class="overview-text">
                        I’m the co-founder and project lead of the GradleFx project, a software
                        library available for free to the community, by the community. <br />
                        This is a Gradle plugin which allows developers to build
                        Flex/Actionscript applications with Gradle. <br /><br />
                        <a href="http://gradlefx.org">http://gradlefx.org</a>
                    </p>

                    <div class="technology-buttons">
                        <ul>
                            <li>
                                <button type="button" data-content="Groovy is an object-oriented programming language for the Java platform. &lt;br /&gt; It can be used as a scripting language for the Java Platform, is dynamically compiled to Java Virtual Machine (JVM) bytecode, and interoperates with other Java code and libraries.">
                                    Groovy
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="Gradle is build automation evolved. &lt;br /&gt;Gradle can automate the building, testing, publishing, deployment and more of software packages or other types of projects such as generated static websites, generated documentation or indeed anything else. &lt;br /&gt;&lt;br /&gt;Gradle combines the power and flexibility of Ant with the dependency management and conventions of Maven into a more effective way to build. &lt;br /&gt;Powered by a Groovy DSL and packed with innovation, Gradle provides a declarative way to describe all kinds of builds through sensible defaults. &lt;br /&gt;Gradle is quickly becoming the build system of choice for many open source projects, leading edge enterprises and legacy automation challenges.">
                                    Gradle
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="experience-section">
            <div class="site-inner-wrapper">
                <div class="experience-header">
                    <span class="experience-title">Webdesign</span>
                    <span class="experience-subtitle">Dailyhugs.be</span>
                </div>
                <div class="experience-content">
                    <p class="overview-text">
                        Sometimes I also build websites. My latest website has a
                        full-fledged admin panel in which the owners can edit the
                        content of the site, providing them value year-round.<br /><br />
                        <a href="http://dailyhugs.be">http://dailyhugs.be</a>
                    </p>

                    <div class="technology-buttons">
                        <ul>
                            <li>
                                <button type="button" data-content="A php framework (modeled after the concepts of Ruby on Rails) which allows rapid development of websites backed by a customized administration section.">
                                    CakePHP
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="Allows developers to style web applications by using dynamic reusable structures which compile to CSS.">
                                    LESS
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
                                    Bootstrap
                                </button>
                            </li>
                            <li>
                                <button type="button" data-content="jQuery is a fast, small, and feature-rich JavaScript library that works across a multitude of browsers. &lt;br /&gt;With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.">
                                    JQuery
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="experience-section-uneven">
            <div class="site-inner-wrapper">
                <div class="experience-header">
                    <span class="experience-title">Speaking</span>
                        <span class="experience-subtitle">
                            @ Adobe User Group Belgium<br />
                            @ Flex User Group Belgium
                        </span>
                </div>
                <div class="experience-content">
                    <p class="overview-text">
                        I also like to share my knowledge whenever possible. <br />
                        One of those ways is by speaking at user groups.
                    </p>
                </div>
            </div>
        </div>

        <div class="newsletter-signup-section">
            <div class="site-inner-wrapper">
                <!-- Mailchimp newsletter signup form -->
                <div id="mc_embed_signup">
                    <form action="http://twitter.us7.list-manage.com/subscribe/post?u=02f28b618c351eec5f12806b3&amp;id=a42d48b8cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <label for="mce-EMAIL">Follow my content</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>