@import "custom/coderay";

$white: #FFFFFF;

// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$orange: rgb(249, 135, 32);
$orange-dark: rgb(255, 90, 18);


$text-font-size-tiny: 11px;
$text-font-size-small: 15px;
$text-font-size-normal: 18px;
$text-font-size-big: 21px;
$display-font-size-small: 15px;
$display-font-size-normal: 20px;
$display-font-size-medium: 25px;
$display-font-size-big: 30px;
$display-font-size-huge: 40px;

$text-color-dark: rgb(0, 0, 0);


/**
 * Code block styles
 */

.CodeRay {
  background-color: $code-bg;
  padding: 0px;
  margin-bottom: 15px;
  pre {
    padding: 5px 0px 5px 10px;
  }

  span {
    font-size: $text-font-size-small;
  }
}

.CodeRay pre, .CodeRay .highlight, .CodeRay .gist-highlight  {
  background-color: $code-bg;
  border: 0px;
  color: $code-color;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: $text-font-size-small;
  margin-bottom: 0px;
}

// Nice line numbers
table.CodeRay td {
  padding: 0px;
}
.CodeRay .line-numbers, .CodeRay .no {
  background-color: $line-nb-bg;
  padding-right: 1em;
  pre {
    background-color: $line-nb-bg;
    border: 0px;
    margin: 0px;
  }

  a {
    font-size: $text-font-size-small;
    color: $code-color;
    word-wrap: normal;
    white-space: nowrap;
  }
}
.CodeRay .line { background-color: $line-nb-bg }
.CodeRay span.line-numbers { padding: 0px 10px 0px 0px }

// As in Sublime editor
// Violet for constants ("Rails")
.CodeRay .constant { color: #9B859D; }
// Blue for predefined-constants ("self")
.CodeRay .predefined-constant { color: #7587A6; font-weight: normal  }

/**
 * Reusable styles
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius; /* Saf3-4, iOS 1-3.2, Android <1.6 */
  -moz-border-radius: $radius; /* FF1-3.6 */
  border-radius: $radius; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

@mixin button-gradient($light, $dark) {
  background: $light; /* Old browsers */
  background: linear-gradient(to bottom, $light, $dark);
  background: -moz-linear-gradient(bottom, $light, $dark);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{light}, endColorstr=@{dark})";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$light, endColorstr=$dark, GradientType=0);
}

@mixin item-shadow() {
  -moz-box-shadow:    3px 3px 6px rgba(0,0,0, 0.75);
  -webkit-box-shadow: 3px 3px 6px rgba(0,0,0, 0.75);
  box-shadow:         3px 3px 6px rgba(0,0,0, 0.75);
}

/**
 * Generic site styles
 */

html {
  background: #FFFFFF;
}

html * {
  font-family: 'Open Sans', sans-serif;
  font-size: $text-font-size-normal;
  line-height: $text-font-size-normal;
}

@mixin displayFont {
  font-family: 'Gentium Book Basic', serif;
}

a {
  &:link, &:visited {
    color: $orange-dark;
    text-decoration: none;
  }

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

/**
 * Site structure styles
 */

.site-wrapper {
  background-color: #FFFFFF;
  background: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0px;
}

.site-inner-wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}


/**
 * Page specific styles
 */

div.topNavSection {
  margin-top: 30px;

  div.siteName {
    float: left;
    @include displayFont;
    font-size: $display-font-size-huge;
    line-height: $display-font-size-huge;
    font-weight: bold;
  }

  div.main-menu {
    float: right;
    margin: 0px 0px 0px 0px;

    ul.main-menu-navigation {
      margin-left: 0;
      padding-left: 0;
      white-space: nowrap;
      list-style-type: none;

      li {
        display: inline;
        margin-right: 4px;
      }

      a {
        @include displayFont;
        padding: 9px 19px;
        font-size: $display-font-size-medium;
        line-height: $display-font-size-medium;
        font-weight: bold;
        color: #000000;

        &:hover {
          color: $orange-dark;
        }
      }
    }
  }
}

@mixin header {
  background-image: url("../images/header-bg-pattern.jpg");
  width: 100%;
  height: 330px;
  border-bottom: $orange-dark 23px solid;

  div {
    height: 100%;
    background: url("../images/map.png") no-repeat 110px 0px;

    img.myself-image {
      float: left;
      margin-top: 11px;
    }

    p.introText {
      float: right;
      margin-top: 77px;
      margin-left: 130px;
      @include displayFont;
      font-size: $display-font-size-big;
      font-weight: bold;
      line-height: 30px;
      color: #FFFFFF;
    }
  }
}

div.header {
  @include header;
}

div.smallHeader {
  @include header;
  height: 200px;
  margin-bottom: 10px;

  div {
    position: relative;
    background-position: 0px -100px;
    height: 100%;

    p.headerText {
      position: absolute;
      bottom: 10px;
      right: 0px;
      margin-bottom: 0px;
      @include displayFont;
      font-size: $display-font-size-huge + 4;
      font-weight: bold;
      line-height: 30px;
      color: #FFFFFF;
    }
  }
}

div.main-content {
  width: 100%;

  .experience-section {
    float:left;
    padding: 30px 0px;
    width: 100%;
    min-height: 180px;

    div.experience-header {
      float: left;
      width: 425px;
      font-weight: bold;

      span.experience-title {
        @include displayFont;
        display: block;
        margin-bottom: 10px;
        font-size: $display-font-size-big;
      }

      span.experience-subtitle {
        @include displayFont;
        font-size: $display-font-size-normal;
      }
    }

    div.experience-content {
      float: left;
      width: 575px;

      p.overview-text {
        font-size: $text-font-size-normal;
      }

      div.technology-buttons {
        margin: 0px 0px 0px 0px;

        ul {
          margin-left: 0;
          padding-left: 0;
          white-space: nowrap;

          li {
            display: inline;
            list-style-type: none;
            margin-right: 8px;
          }

          button {
            @include displayFont;
            text-align: center;
            padding: 0px 20px 0px 20px;
            border: 2px $orange-dark solid;
            background-color: #4f4f4f;
            color: #FFFFFF;
            font-size: $display-font-size-small;
            @include item-shadow;
            @include border-radius(5px);

            &:hover {
              background-color: darken(#4f4f4f, 6%);
            }
          }
        }

        .popover {
          max-width: 450px;
          .popover-content {
            font-size: $text-font-size-small;
          }
        }
      }
    }
  }

  .experience-section-uneven {
    @extend .experience-section;
    background-color: #f1e9e6;
  }
}

div.footer-wrapper {
  background: none;

  div.footer {
    margin-top: 240px;
    width: 100%;
    text-align: center;

    ul.socialLinks {
      margin-left: 0;
      padding-left: 0;
      white-space: nowrap;

      li {
        display: inline;
        list-style-type: none;
        margin-right: 8px;
      }
    }

    p.copyright {
      margin-top: 50px;
      font-size: $text-font-size-tiny;

      a {
        font-size: $text-font-size-tiny;
      }
    }
  }
}

/*
 * Newsletter Signup
 */

div.newsletter-signup-section {
  float: left;
  padding: 20px 0px;
  width: 100%;
  background-color: #4f4f4f;
  border-top: 3px;
  border-bottom: 3px;
  border-left: 0px;
  border-right: 0px;
  border-color: #ff5a12;
  border-style: solid;
  color: #FFFFFF;

  form {
    margin: 0px;
    text-align: center;
    background-color: #4f4f4f;
  }

  label {
    display: inline;
    font-size: $text-font-size-big;
    font-weight: bold;
    vertical-align: middle;
  }

  input.email {
    vertical-align: middle;
    margin: 0px 5px;
    height: 26px;
    border: 1px #ff5a12 solid;
  }

  div.clear {
    display: inline;
    vertical-align: middle;

    input {
      color: #FFFFFF;
      font-size: $text-font-size-big;
      font-weight: bold;
      @include button-gradient(#49aa02, #3b8c00);
      @include border-radius(5px);
      border: 3px #FFFFFF solid;
      padding: 6px 38px;
    }
  }
}

/*
 * Article styles
 */

body {

	#content {
		> article {
			padding-left: 0px;
			padding-right: 0px;
		}

		> div {
			> article, > section {
				padding-left: 0px;
				padding-right: 0px;
			}	
		}
	}
}

article {
	padding-top: 2em;
    background-color: #FFFFFF;

	.entry-content {
		h3 {
			font-style: italic
		}
	}

	ul, ol {
		margin-left: 2em;
	}

	a, a:visited {
		color: #1863A1;
	}

	header {
		h1.entry-title {
			font-family: $heading-font-family;
            font-weight: bold;
            font-size: $text-font-size-big;
		}
	}
}

div.blog-index-wrapper {
    background: #FFFFFF;

    div.pagination {
        background: none repeat scroll 0 0 transparent;
        margin: 0 10px;
        font-size: 0.95em;
        padding-bottom: 1.5em;
        margin-top: 4em;
        position: relative;
        text-align: center;
        border-top: dotted 1px #D1D1D1;
        border-bottom: dotted 1px #D1D1D1;
    }

    .blog-index {
        article {
            padding-top: 4em;

            header {
                padding-left: 0;
                padding-right: 0;
            }
        }

        h1 {
            a {
                font-family: $heading-font-family;
                font-weight: 400;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

    div#blog-archives {
      margin-top: 20px;
    }
}

figure.code {
	.highlight {
		background: #212C3B !important;

		.gutter {
			display: none;
		}
	}
}

.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
	background: #212C3B !important;
}

aside {
	display: none;
}
